<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GCDocument</string>
			<key>CFBundleTypeName</key>
			<string>GraphClick Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GClk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>GCDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>tiff</string>
				<string>tif</string>
				<string>gif</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>icns</string>
				<string>png</string>
				<string>bmp</string>
				<string>ico</string>
				<string>cur</string>
				<string>fpx</string>
				<string>fpix</string>
				<string>pntg</string>
				<string>pnt</string>
				<string>psd</string>
				<string>sgi</string>
				<string>rgb</string>
				<string>targa</string>
				<string>tga</string>
				<string>qtif</string>
				<string>qti</string>
				<string>pict</string>
				<string>paint</string>
				<string>pct</string>
				<string>PDF</string>
				<string>TIFF</string>
				<string>TIF</string>
				<string>GIF</string>
				<string>JPEG</string>
				<string>JPG</string>
				<string>ICNS</string>
				<string>PNG</string>
				<string>BMP</string>
				<string>ICO</string>
				<string>CUR</string>
				<string>FPX</string>
				<string>FPIX</string>
				<string>PNTG</string>
				<string>PNT</string>
				<string>PSD</string>
				<string>SGI</string>
				<string>RGB</string>
				<string>TARGA</string>
				<string>TGA</string>
				<string>QTIF</string>
				<string>QTI</string>
				<string>PICT</string>
				<string>PAINT</string>
				<string>PCT</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GraphClick Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>GCImageDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>graphclicklicense</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GCLicenseFileIcon</string>
			<key>CFBundleTypeName</key>
			<string>GraphClick License File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
				<string>mpg</string>
				<string>mp4</string>
				<string>mpg4</string>
				<string>avi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GraphClick Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>GCMovieDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GraphClick</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright 2012 Arizona Software</string>
	<key>CFBundleHelpBookFolder</key>
	<string>GraphClick Help</string>
	<key>CFBundleHelpBookName</key>
	<string>GraphClick Help</string>
	<key>CFBundleIconFile</key>
	<string>GCIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.3</string>
	<key>CFBundleSignature</key>
	<string>GClk</string>
	<key>CFBundleVersion</key>
	<string>3.0.3</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2012 Arizona Software</string>
	<key>NSMainNibFile</key>
	<string>GCMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://jean-bovet.github.io/GraphClick/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ijYZbNO2D7RbgXYIWrGejviM8zBBc4A/b0b2KbAKQx8=</string>
</dict>
</plist>
